button {
  margin: 0;
  margin-right: 6px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid #868a8e;
  border-bottom: 1px solid #868a8e;
  box-shadow: 1px 0 0 0 black, 0 1px 0 0 black, 1px 1px 0 0 black;
  background-color: var(--ui-base-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: black;
  cursor: default;
  user-select: none;
}

button:not(.button-icon):not(.win95-window-maximize):not(.win95-window-minimize):not(.floating-panel-close):focus {
  outline: 1px dotted black;
  outline-offset: -4px;
  border: 1px solid black;
  box-shadow: 1px 0 0 0 black, 0 1px 0 0 black, 1px 1px 0 0 black, inset 1px 1px 0 0 white, inset -1px -1px 0 0 #868a8e;
}

button:active {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid #868a8e;
  border-right: 1px solid #868a8e;
  box-shadow: inset 1px 1px 0 0 #868a8e, 1px 1px 0 0 black, 1px 0 0 0 black, 0 1px 0 0 black;
  padding-top: 5px;
  padding-left: 6px;
  padding-bottom: 3px;
}

button:disabled {
  color: #868a8e;
  cursor: default;
  text-shadow: 1px 1px 0 white;
}
