
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-image: var(--img-scrollbar-bg);
  image-rendering: pixelated;
}

::-webkit-scrollbar-track:active {
  background-image: var(--img-scrollbar-bg-active);
}

::-webkit-scrollbar-thumb {
  /* @include emboss-border; */
  border-top: 1px solid var(--ui-main-color);
  border-left: 1px solid var(--ui-main-color);
  border-right: 1px solid var(--ui-emboss-outer-shadow-color);
  border-bottom: 1px solid var(--ui-emboss-outer-shadow-color);
  box-shadow: inset 1px 1px 0 0 var(--ui-emboss-highlight-color), inset -1px -1px 0 0 var(--ui-emboss-inner-shadow-color);

  width: 16px;
  height: 16px;
  background-color: var(--ui-main-color);
  z-index: 1;
}

::-webkit-scrollbar-corner {
  background-color: var(--ui-main-color);
}

::-webkit-resizer {
  width: 16px;
  height: 16px;
  background-color: var(--ui-main-color);
  background-image: var(--img-resizer);
  background-position: bottom right;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

::-webkit-scrollbar-button {
  /* @include emboss-border; */
  border-top: 1px solid var(--ui-main-color);
  border-left: 1px solid var(--ui-main-color);
  border-right: 1px solid var(--ui-emboss-outer-shadow-color);
  border-bottom: 1px solid var(--ui-emboss-outer-shadow-color);
  box-shadow: inset 1px 1px 0 0 var(--ui-emboss-highlight-color), inset -1px -1px 0 0 var(--ui-emboss-inner-shadow-color);

  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--ui-main-color);
  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-position: center center;
}

::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url('https://cdn.glitch.com/87ebf192-d762-4a8c-b219-92029a8531ce%2Fwin95_arrow_left.png?1529523360111');
  background-size: 11px;
  background-position: 2px 1px;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:horizontal:decrement:active {
  background-position: 3px 2px;
}

::-webkit-scrollbar-button:horizontal:increment {
  background-image: url('https://cdn.glitch.com/87ebf192-d762-4a8c-b219-92029a8531ce%2Fwin95_arrow_right.png?1529523360227');
  background-size: 11px;
  background-position: 2px 1px;
  background-repeat: no-repeat;
}
  
::-webkit-scrollbar-button:horizontal:increment:active {
  background-position: 3px 2px;
}

::-webkit-scrollbar-button:vertical:decrement {
  background-image: url('https://cdn.glitch.com/87ebf192-d762-4a8c-b219-92029a8531ce%2Fwin95_arrow_up.png?1529523360341');
  background-size: 11px;
  background-position: 1px 2px;
  background-repeat: no-repeat;
}
  
::-webkit-scrollbar-button:vertical:decrement:active {
  background-position: 2px 3px;
}

::-webkit-scrollbar-button:vertical:increment {
  background-image: url('https://cdn.glitch.com/87ebf192-d762-4a8c-b219-92029a8531ce%2Fwin95_arrow_down.png?1529523359960');
  background-size: 11px;
  background-position: 1px 2px;
  background-repeat: no-repeat;
}
  
::-webkit-scrollbar-button:vertical:increment:active {
  background-position: 2px 3px;
}
/* 
::-webkit-scrollbar-button:horizontal:decrement {
  background-image: var(--img-left-arrow);
}

::-webkit-scrollbar-button:horizontal:increment {
  background-image: var(--img-right-arrow);
}

::-webkit-scrollbar-button:vertical:decrement {
  background-image: var(--img-up-arrow);
}

::-webkit-scrollbar-button:vertical:increment {
  background-image: var(--img-down-arrow);
} */
/* 
::-webkit-scrollbar-button:active {
  background-position: 2px 2px;
}

 */
::-webkit-scrollbar-button:horizontal:increment:start { display: none; }
::-webkit-scrollbar-button:horizontal:decrement:end { display: none; }
::-webkit-scrollbar-button:vertical:increment:start { display: none; }
::-webkit-scrollbar-button:vertical:decrement:end { display: none; }

::-webkit-scrollbar-button:active {
  border-top: 1px solid var(--ui-emboss-inner-shadow-color);
  border-left: 1px solid var(--ui-emboss-inner-shadow-color);
  border-bottom: 1px solid var(--ui-emboss-inner-shadow-color);
  border-right: 1px solid var(--ui-emboss-inner-shadow-color);
  box-shadow: none;
}
