.NotificationArea {
  position: absolute;
  text-align: right;
  padding: 5px;
  right: 2px;
  width: 44px;
  height: 22px;
  bottom: 2px;
  border-top: 1px solid var(--ui-emboss-inner-shadow-color);
  border-left: 1px solid var(--ui-emboss-inner-shadow-color);
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  background-color: var(--ui-main-color);
}
