.StartButton {
  appearance: none;
  position: absolute;
  left: 2px;
  width: 54px;
  height: 22px;
  bottom: 2px;
  font-weight: 600;
}

.StartButton:active {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid var(--ui-emboss-inner-shadow-color);
  border-right: 1px solid var(--ui-emboss-inner-shadow-color);
  box-shadow: inset 1px 1px 0 0 var(--ui-emboss-inner-shadow-color);
}

.StartButton-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 3px;
  top: 2px;
}

.StartButton-label {
  position: absolute;
  left: 22px;
  top: 5px;
}
