.MenuBar {
  min-height: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.MenuBarItem {
  display: inline-block;
  height: 18px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
}

.MenuBarItem-selected {
  background-color: var(--ui-highlight-color);
  color: white;
}
