/* CSS Variables */
.Windows95-desktop {
  --ui-shadow-color: #868a8e;
  --ui-main-color: #c3c7cb;
  --default-desktop-background-color: #54aaaa;
}

/* Styles that apply to all elements by default */
.Windows95-desktop,
.Windows95-desktop *,
.Windows95-desktop *::after,
.Windows95-desktop *::before {
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
}

.Windows95-desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.Windows95-desktop-background {
  background-color: var(--default-desktop-background-color);
}
