
/* CSS Variables */
.Windows95-desktop {
  --ui-main-color: #c3c7cb;

  --ui-emboss-highlight-color: white;
  --ui-emboss-inner-shadow-color: #868a8e;
  --ui-emboss-outer-shadow-color: black;

  --default-desktop-background-color: #54aaaa;
  
  --font-family: 'MS Sans Serif', sans-serif;
  --font-size: 11px;

  --editor-font-family: 'Courier New', monospace;
  
  --ui-editor-background-color: #1c1f24;
  --ui-base-color: #c3c7cb; /* win95 default background color */
  --ui-component-color: #c3c7cb;
  --ui-element-color: #36383e;
  --ui-active-color: #3d3f46;

  --ui-highlight-color-2: rgb(221, 221, 0);
  --ui-component-text-color: #000;
  --ui-link-text-color: #e1eeee;
  --ui-subtext-color: #c0c6c6;
  --ui-unnamed-light-color: gray;
  --ui-border-color: #1a1c1f;
  --ui-border: 1px solid var(--ui-border-color);
  --ui-border-radius: 0;
  --ui-well-color: #4d515a;
  --ui-well-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.12);
  --ui-emboss-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.06);
  --ui-modal-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.25);
  --ui-tooltip-background-color: rgba(0, 2, 6, 0.85);
  --ui-error-color: #be1a20;
  --ui-warning-color: #fc0;
}

/* Font declarations */
@font-face {
  font-family: 'MS Sans Serif';
  src: url('https://cdn.glitch.com/87ebf192-d762-4a8c-b219-92029a8531ce%2FMS%20Sans%20Serif.ttf?1529522954837') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MS Sans Serif';
  src: url('https://cdn.glitch.com/87ebf192-d762-4a8c-b219-92029a8531ce%2FMS%20Sans%20Serif%20Bold.ttf?1529523249182') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Styles that apply to all elements by default */
.Windows95-desktop,
.Windows95-desktop *,
.Windows95-desktop *::after,
.Windows95-desktop *::before {
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
}

.Windows95-desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  font-family: var(--font-family);
  font-size: var(--font-size);
  font-smooth: never;
  -webkit-font-smoothing: none;
}

.Windows95-desktop-background {
  background-color: var(--default-desktop-background-color);
}

/* Images are rendered at pixel-perfect scaling,
   <div> elements are included to handle background-image properties */
.Windows95-desktop img,
.Windows95-desktop div {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
